@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

// Colors
$white: #ffffff;
$light-gray: #ececec;
$mid-gray: #dbd9d9;
$gray: #bfbfbf;

$black: #333;
$light-black: #00000033;

$grayish-violet: #dedddf;
$dark-violet:  #8e8593;
$very-dark-violet: #21092f;

$blue-grey: #cddeee;
$dark-blue: #1c4165;
$very-dark-blue:#35323e;

$red: #ff5252;
$linear-gradient: #6448fe to #600594;

// Font 
$font-fam: Space Grotesk, sans-serif;
$font-size: 18px;

// Max Width
$max-width: 1440px;